*,*:before,*:after{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
/* */
a,input,p,h1,h2,h3,button,label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcome{
  padding: 10rem 4rem;
}
.btn-blue{
  outline: none;
  border: none;
  font-weight: bold;
  background: #1a78f2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn-blue:hover{
  background-color: #1267d6;
}
.btn-blue:focus{
  outline: 2px solid #418df0;
}
.btn-green{
  letter-spacing: 1px;
  outline: none;
  border: none;
  font-weight: bold;
  background: #42b729;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn-green:hover{
  background-color: #329b1b;
}
.btn-green:focus{
  outline: 2px solid #3ea826;
}